---
layout: default
title: Center for Gravitation, Cosmology and Astrophysics
description: We push the frontiers of astrophysics through the novel use of observation, theory, and computation. 

features:
 - title: Einstein's theory of gravity holds - even in extreme conditions
   text: Work published today has put Einstein's theory of General Relativity to another strict test, and found that it passed with flying colors
   img: /assets/imgs/carousel/galaxy.jpg
   link: #
 - title: Radio emission from GW170817 fading
   text: CGCA Prof. David Kaplan has written an article for The Conversation with colleague Prof. Tara Murphy discussing the 6+ months of radio observations of the neutron star merger
   img: /assets/imgs/carousel/galaxy.jpg
   link: /news/news_20180501.html
 - title: CGCA in UWM Research Magazine
   text: The Nobel-prize winning discovery of gravitational waves and the subsequent discovery of multi-messenger emission from colliding neutron stars are featured
   img: /assets/imgs/carousel/galaxy.jpg
   link: /news/news_20180227.html
 - title: Prof. Dawn Erb Named Kavli Frontiers of Science Fellow
   text: UWM Physics professor Dawn Erb was named a Kavli Frontiers of Science Fellow by the National Academy of Sciences
   img: /assets/imgs/carousel/galaxy.jpg
   link: /news/news_20180227.html
 - title: GW150914 - First results from Advanced LIGO
   text: The first significant gravitational wave signal is due to the merger of two black holes
   img: /assets/imgs/carousel/galaxy.jpg
   link: #

---
{% include carousel.html %}
{% include team.html %}
