---
layout: content
title: CGCA - News
description: News about the center
heading: Recent News
lead: News about the Center, its members, and the projects they are involved in.
group: News&Events
---    
<main role="main">
      <div class="container marketing">

        <!-- START THE FEATURETTES -->

        {% for post in site.posts %}
          {% assign mod = forloop.index | modulo: 2 %}
          <div class="row featurette">
          {% if mod == 1 %}
            <div class="col-md-7 order-md-1">
              <h2 class="featurette-heading">{{ post.date | date: '%B %d, %Y' }}: <span class="text-muted">{{ post.heading }}</span></h2>
              <p><a class="btn btn-lg btn-primary" href="{{ post.url }}" role="button">Read more</a></p>

            </div>
            <div class="col-md-5 order-md-2">
              <img class="featurette-image img-fluid mx-auto" src="{{ post.img }}" alt="System overview">
            </div>
          {% else %}
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">{{ post.date | date: '%B %d, %Y' }}: <span class="text-muted">{{ post.heading }}</span></h2>
              <p><a class="btn btn-lg btn-primary" href="{{ post.url }}" role="button">Read more</a></p>

            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" src="{{ post.img }}" alt="System overview">
            </div>
          {% endif %}

        </div>
        {% if forloop.last == false %}
          <hr class="featurette-divider">
        {% endif %}
        {% endfor %}

        <!-- /END THE FEATURETTES -->       
     </div><!-- /.container -->	
