<!-- auto-generate the carousel out of the blog posts -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for post in site.posts limit:page.maxposts %}
      {% assign slidenum = forloop.index | minus: 1 %}
      {% if forloop.index == 1 %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ slidenum }}" class="active"></li>
      {% else %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ slidenum }}"></li>
      {% endif %}
    {% endfor %}
	
  </ol>
  <div class="carousel-inner">
    {% for post in site.posts limit:page.maxposts %}
      {% if forloop.index == 1 %}
        <div class="carousel-item active" style="background:url('{{page.img}}')">
      {% else %}
        <div class="carousel-item" style="background:url('{{page.img}}')">
      {% endif %}
          <div class="backdrop"></div>
          <div class="container">
            <div class="carousel-caption">
              <h1>{{post.heading}}</h1>
              <p>
              {{post.lead}}
              </p>
              <p>
              <a href="{{post.url}}" class="btn btn-lg btn-primary">Learn More</a>
              </p>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
