<footer class="container">
  <div class="row">
    <div class="col-md-1">
      <img src="assets/imgs/uwm_logomark4clr1235.png" width="100%" alt="UWM logo" class="float-left"> 
    </div>
    <div class="col-md-9">
      <p>The Leonard E Parker Center for Gravitation, Cosmology and Astrophysics is supported by NASA, the National Science Foundation, the UW-Milwaukee College of Letters and Science, and the UW-Milwaukee Graduate School.</p>
    </div>
    <div class="col-md-1">
      <img src="assets/imgs/uwm_logomark4clr1235.png" width="100%" alt="UWM logo" class="float-right"> 
    </div>
  </div>
</footer>

