<header>
      <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <a class="navbar-brand" href="index.html">
	  <img src="assets/imgs/CGCARevTrs.png" height="50" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="equity.html">Equity and diversity</a>
          <a class="dropdown-item" href="visitors.html">For visitors</a>
          <a class="dropdown-item" href="#">Positions</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="contact.html">Contact us</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          People
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
<a class="dropdown-item" href="people.html">Members</a>
          <a class="dropdown-item" href="faculty.html">Faculty</a>
          <a class="dropdown-item" href="directory.html">Directory</a>
<!--          <a class="dropdown-item" href="#">LIGO</a>-->
          <a class="dropdown-item" href="former_members.html">Former members</a>
        </div>
      </li>
		 <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          News & Events
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="seminars.html">Seminars</a>
          <a class="dropdown-item" href="news.html">Recent news</a>
        </div>
      </li>
		 <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Research
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="research.html">Overview</a>
          <a class="dropdown-item"
href="publications.html">Publications</a>
          <a class="dropdown-item" href="books.html">Books</a>
          <a class="dropdown-item" href="datacenter.html">Data Center</a>
        </div>
      </li>
		<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Internal
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://www.lsc-group.phys.uwm.edu/wiki/">Wiki</a>
          <a class="dropdown-item" href="conference_room.html">Conference Room</a>
        </div>
      </li>
      <!-- 		 <li class="nav-item"> -->
      <!--   <a class="nav-link" href="#">Students</a> -->
      <!-- </li> -->
		<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Public
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="public.html">Overview</a>
<a class="dropdown-item" href="maker.html">MakerFaire Milwaukee</a>
<a class="dropdown-item" href="http://www.cgca.uwm.edu/coffee/">CoffeeShop Astrophysics</a>
          <a class="dropdown-item"
href="http://uwm.edu/planetarium/">Manfred Olson Planetarium</a>
          <a class="dropdown-item"
    href="http://pulsarsearchcollaboratory.com/home/about/">Pulsar
    Search Collaboratory</a>
<a class="dropdown-item" href="http://einstein.phys.uwm.edu/">Einstein@Home</a>
</li>
    </ul>
    <a class="navbar-brand" href="https://twitter.com/UWMCGCA">
    <img src="assets/imgs/twitter_transparent.png" width="25" height="25" alt="Twitter"></a>
    <a class="navbar-brand" href="https://www.facebook.com/UWMCGCA">
    <img src="assets/imgs/facebook.png" width="25" height="25" alt="Facebook"></a>
        <button type="button" class="btn btn-warning">Give</button>

  </div>
</nav>
</header>
