<div class="container">
  <div class="row">
    {% for t in site.data.team %}
    <div class="col-lg-3 team-member">
      <img class="rounded-circle" src="assets/imgs/people/{{t.emailname}}.png" alt="Generic placeholder image" height="120">
      {% if t.url %}
        <h4><a href="{{t.url}}">{{t.name}}</a></h4>
      {% else %}
        <h4>{{t.name}}</h4>
      {% endif %}
      <p>{{t.position}}</p>
      <p>{{t.office}}</p>
      <p>{{t.phone}}</p>
      <p><a class="btn btn-secondary" href="javascript:address('{{t.emailname}}', '{{t.emaildomain}}')" role="button">Email »</a></p>
    </div>
    {% endfor %}
  </div>
</div>
