---
---
@import 'carousel';
@import 'team';
body {
  padding-top: 0rem;
  padding-bottom: 0rem;
  color: #55ffff;
}
.featurette-divider {
  margin:5rem 0;
}

div.jumbotron.uwm-header{
    text-color: #ee1111;
    color: #000000;
    text-align:left;
    background:url('/assets/imgs/logos/wave.jpg');
    background-size:cover;
    background-position:center;
    padding-top:10px;
    padding-bottom:10px;
}
